@include media-breakpoint-up(sm) {
  html {
    font-size: 10px; //use this to scale
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 6px; //use this to scale
  }

  .spruce-navigation {
    li {
      &.nav-item {
        &.active {
          margin-top: -.4rem;

          a {
            border-top: .4rem solid $primary-green;
            color: $primary-blue !important;
          }
        }
      }
    }
  }

  .hero-block {
    h1 {
      margin: 12rem 0 !important;
    }
  }

  .newsletter-form {
    margin-left: 0 !important;
  }

  .footer-block {
    padding: 6rem 0 12rem !important;
  }

}

@include media-breakpoint-up(xxl) {
  html {
    // font-size: 10px; //use this to scale
  }
}
