@include media-breakpoint-up(sm) {
  html {
    font-size: 10px; //use this to scale
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 6px; //use this to scale
  }

  .spruce-navigation {
    li {
      &.nav-item {
        &.active {
          margin-top: -.4rem;

          a {
            border-top: .4rem solid $primary-green;
            color: $primary-blue !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  html {
    // font-size: 10px; //use this to scale
  }
}
