.spruce-navigation {
  .navbar-toggler {
    border: .4rem solid $primary-blue;
    border-radius: 1rem;
    margin: 2rem;
    width: 12rem;

    .navbar-toggler-icon {
      color: $primary-blue;
      font-size: 4rem;
    }
  }

  .navbar-nav {
    li {
      &.nav-item {
        margin-left: 2.5rem;

        &.active {
          a {
            color: $primary-green;
          }
        }
      }

      a {
        &.nav-link {
          color: $primary-blue;
          font-size: 2.4rem;
          text-transform: uppercase;

          &:hover {
            color: $secondary-blue !important;
          }
        }

        img {
          height: 4rem;
          vertical-align: unset;
          width: 4rem;
        }
      }
    }
  }
}

.social-block {
  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 2.5rem;

      img {
        height: 6rem;
        width: 6rem;
      }
    }
  }
}
