@import 'modules/variables';
@import 'modules/bootstrap';
//@import 'modules/mixins';

@font-face {
font-family: 'Selawik Regular';
font-style: normal;
font-weight: normal;
src: url('/fonts/selawk.woff') format('woff');
}

@font-face {
font-family: 'Selawik Light';
font-style: normal;
font-weight: normal;
src: url('/fonts/selawkl.woff') format('woff');
}

@font-face {
font-family: 'Selawik Semibold';
font-style: normal;
font-weight: normal;
src: url('/fonts/selawksb.woff') format('woff');
}

@font-face {
font-family: 'Selawik Bold';
font-style: normal;
font-weight: normal;
src: url('/fonts/selawkb.woff') format('woff');
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Selawik Regular';
  font-size: 2.2rem;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: $primary-green;
  font-family: 'Selawik Semibold';
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

h1,h2,h3,h4 {
  color: $primary-blue;
}

h1 {
  font-family: 'Selawik Bold';
  font-size: 4.8rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Selawik Semibold';
  font-size: 3.7rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Selawik Bold';
  font-size: 3.2rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Selawik Semibold';
  font-size: 2.4rem;
  text-transform: uppercase;
}

.text-dark-bg {
  color: $white;
}

.header-lightweight {
  font-family: 'Selawik Regular';
}

@import 'modules/breakpoint-styles';
@import 'modules/navigation';
@import 'modules/forms';
@import 'modules/hero';
@import 'modules/engagement';
@import 'modules/footer';
